<ion-header>

   <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>More</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>




    <div *ngFor="let item of more.ministries"(tap)="events()">
       
        <ion-card-content>
           
           <ion-row>
             <ion-col>
                    <span class="icon"><ion-icon name="md-calendar">&nbsp;&nbsp;&nbsp;</ion-icon></span>

                    <span class="cc">Events</span>
                   
             </ion-col>
  
           </ion-row>
           <hr class="r">
         
         </ion-card-content>
       
    </div>




    
    <div *ngFor="let item of more.ministries"(tap)="inbox()">

        <ion-card-content>
     
           <ion-row>
             <ion-col>
                    <span class="icon"><ion-icon name="notifications">&nbsp;&nbsp;&nbsp;</ion-icon></span>

                    <span class="cc">Inbox</span>
                   
             </ion-col>
  
           </ion-row>
           <hr class="r">
         
         </ion-card-content>
       
    </div>








        <div *ngFor="let item of more.ministries"(tap)="blog()">

                <ion-card-content>
             
                   <ion-row>
                     <ion-col>
                            <span class="icon"><ion-icon name="create">&nbsp;&nbsp;&nbsp;</ion-icon></span>

                            <span class="cc">Pastor's Blog</span>
                           
                     </ion-col>
          
                   </ion-row>
                   <hr class="r">
                 
                 </ion-card-content>
               
            </div>

            <div *ngFor="let subitem of more.about"(tap)="about($event, subitem)">

                    <ion-card-content>
                 
                       <ion-row>
                         <ion-col>
                                <span class="icon"><ion-icon name="ios-information-circle">&nbsp;&nbsp;&nbsp;</ion-icon></span>
    
                                <span class="cc">About Us</span>
                               
                         </ion-col>
              
                       </ion-row>
                       <hr class="r">
                     
                     </ion-card-content>
                   
                </div>


                <div *ngFor="let subitem of more.connect" (tap)="connect($event, subitem)">

                        <ion-card-content>
                     
                           <ion-row>
                             <ion-col>
                                    <span class="icon"><ion-icon name="md-call">&nbsp;&nbsp;&nbsp;</ion-icon></span>
        
                                    <span class="cc">Contact Us</span>
                                   
                             </ion-col>
                  
                           </ion-row>
                           <hr class="r">
                         
                         </ion-card-content>
                       
                    </div>

                    <div *ngFor="let subitem of more.social" (tap)="social($event, subitem)">

                            <ion-card-content>
                         
                               <ion-row>
                                 <ion-col>
                                        <span class="icon"><ion-icon name="md-chatbubbles">&nbsp;&nbsp;&nbsp;</ion-icon></span>
            
                                        <span class="cc">Social Media</span>
                                       
                                 </ion-col>
                      
                               </ion-row>
                               <hr class="r">
                             
                             </ion-card-content>
                           
                        </div>

                    


 

</ion-content>
