<ion-header>

   <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>More</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<br>

<div text-center>
<section *ngFor="let item of more.ministries" (tap)="events()">
    <a href="#" class="btn">
        <span class="btn-content">Events</span>
        <span class="icon"><ion-icon  ios="ios-arrow-round-forward" md="md-arrow-round-forward" aria-hidden="true"></ion-icon></span>
    </a>
</section>
</div>


<div text-center>
<section *ngFor="let item of more.ministries" (tap)="blog()">
    <a href="#" class="btn">
        <span class="btn-content">Pastor's Blog</span>
        <span class="icon"><ion-icon  ios="ios-arrow-round-forward" md="md-arrow-round-forward" aria-hidden="true"></ion-icon></span>
    </a>
</section>
</div>

<!--<div text-center>
<section *ngFor="let subitem of more.ministries" (tap)="ministries($event, subitem)">
    <a href="#" class="btn">
        <span class="btn-content">Ministries</span>
        <span class="icon"><ion-icon  ios="ios-arrow-round-forward" md="md-arrow-round-forward" aria-hidden="true"></ion-icon></span>
    </a>
</section>
</div>-->

<div text-center>
<section *ngFor="let subitem of more.about" (tap)="about($event, subitem)">
    <a href="#" class="btn">
        <span class="btn-content">About Us</span>
        <span class="icon"><ion-icon  ios="ios-arrow-round-forward" md="md-arrow-round-forward" aria-hidden="true"></ion-icon></span>
    </a>
</section>
</div>
 
<div text-center>
<section  *ngFor="let subitem of more.connect" (tap)="connect($event, subitem)">
    <a href="#" class="btn">
        <span class="btn-content">Contact Us</span>
        <span class="icon"><ion-icon  ios="ios-arrow-round-forward" md="md-arrow-round-forward" aria-hidden="true"></ion-icon></span>
    </a>
</section>
</div>
 
<div text-center>
<section  *ngFor="let subitem of more.social" (tap)="social($event, subitem)">
    <a href="#" class="btn">
        <span class="btn-content">Social Media</span>
        <span class="icon"><ion-icon  ios="ios-arrow-round-forward" md="md-arrow-round-forward" aria-hidden="true"></ion-icon></span>
    </a>
</section>
</div>


 

</ion-content>
