page-more {




div {
    margin-left: auto;
    margin-right: auto;
}

 .title{
    font-family: home;
    }

p{
    font-family: home;
}



.r {
    height: 1px;
    color:#ffffff;
    background-color:#ffffff;
    }
.title2{
color: #ffffff;
margin-left: 0%;
}

    ion-content {
        background: #000 !important;
    }
    ion-icon{
color: #fff;

}


.cc{
    color: #fff;
    font-family: home;
}

 

}
