page-connect {

    ion-content {
        background-color: #000 !important;
    }

    h1 {
        color: #fff;
        font-family: home;
    }
.title{
    font-family: home;
}
    .text {
        color: #fff;
        font-family: home;
        font-size: 14px;
        margin-top: 2vh;
    }
    a{
        text-decoration: none;
        color: #fff;
    }

    .register{
        color: #fff;
        border-color: #fff;
        border-width: 1px;
        border-style: solid;
        height: 70px;
    }

}
