welcome {

ion-content {
        background-color: #000 !important;
    }
.title{
font-family: home;
}
  div.scroll-content {
    font-weight: light;
		 font-family: home;
    //background-image: url('../assets/img/background7.jpg');
    //background-size: cover;
  }

  img {
    margin-bottom: 10px;
  }

  p {
    padding: 0 10px;
    color: map-get($colors, light);
  }
 

.photo{
  max-height: 150px;
}

.but{
	font-family: home;
}

.stream{
	
	background-color: #901d78;
	font-size: 30px;
	color: #ffffff;

}

.stream2{
	background-color: #901d78;
	font-size: 30px;
	color: #ffffff;
 margin-left: 20px;
 

}

.day{
	background-color: #901d78;
	font-size: 15px;
	color: #ffffff;
 margin-left: 20px;

}



}
