page-devotion {

  ion-content {
        background-color: #000000 !important;
    }


   








    








.icons{
    color: #02578a;
    position: relative;
    margin-left: 40%;
    text-align: right;
   //font-family: home;
    //font-size: px;
}

ion-icon{
    color: #ffffff;

}

    .cc{
        color: #fff;
        font-family: home;
    }

    .r {
        height: 1px;
        color:#ffffff;
        background-color:#ffffff;
        }
    .title2{
    color: #ffffff;
    margin-left: 0%;
    }


.dd{
    margin-right: -80%;
    color: #212059;
    position: absolute;
}




}

