page-events {

    ion-content {
        background-color: #000000 !important;
    }

    .swiper-pagination-bullet-active {
        background: #F7B634;
    }
        ion-icon{
color: #fff;
}
.title{
    font-family: home;
}


    .container {
        position: relative;
    }

    img {
        border-radius: 10px;
    }

    .event {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #DFDCE3;
        font-family: home;
    }

    .photo {
        margin-top: -2vh;
        color: #b7aeb5;
        font-size: 15px;
        //font-family: home;
         text-align: left;
         
    }

    .photo1 {
        margin-top: -2vh;
        color: #b7aeb5;
        font-size: 15px;
        //font-family: home;
         text-align: left;
         margin-left: 80%;
         height: 50px;
         width: 50px;
         
    }


    .title2 {
        margin-top: -2vh;
        color: #fff;
        font-size: 15px;
        //font-family: home;
         text-align: left;
         position: absolute;
         margin-left: 12%;
    }

    .r {
        height: 1px;
        color:#b7aeb5;
        background-color:#b7aeb5;
        }

    .price{
        color: #b7aeb5;
          //font-family: home;
          text-align: left;
          position: absolute;
          margin-left: -1%;
          font-size: 12px;
        }

}
